body {
    display: grid;
    height: 100vh;
    grid-template:
        auto   /* header */
        auto   /* nav */
        1fr    /* main + aside */
        auto   /* footer */
        / 1fr;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

header {
  font-size: 16px;
}

header span {
    display: flex;
    background-color: #6aabe7;
    justify-content: center;
    padding: 0.5rem;

}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #9fc5e8;
	align-items: center;
    padding: 0.5rem;
	margin: 0;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	font-weight: 700;
	color: #2a7fcf;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}


.navigation a:hover {
	text-decoration: underline;
	text-decoration-color: #9fc5e8;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 0.5rem;    
    margin: 0 auto;    
    padding: 0.5rem 2rem;
    
}

main h1 {
    grid-column: 1 / -1;
    font-size: clamp(1rem, 5vw, 1.5rem);
    margin: 0;
    justify-self: center;
}

.about,
.resources {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    min-height: 400px;
}

.about h2,
.resources h2 {
    background-color: #9fc5e8;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

.about-content img {
    width: 70%;
    height: auto;
    display: block;
}

.about-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
    align-items: start;
}

.location-title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    width: 80%;
    margin: 0.5rem auto 0.5rem;
}

.location-content {
    display: grid;
    grid-template-columns: 250px 3fr;    
    align-items: start;
    padding: 0.5rem;
}

.location-content img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    margin-top: 0.5rem;
    font-style: italic;
}

footer {
    background-color: #6aabe7;
    text-align: center;
    padding: 0.5rem;

}

footer p {
    margin: 0;
}

#lastModified {
    color: #e7ccdb;
    font-size: 0.7rem;
}