:root {  
  --primary: #0088cc; 
  --secondary: #00b4d8;
  --accent: #e8c978; 
  --accentclear: #f4e9cb; 
  --ocean: #0077b6;
  --seafoam: #90e0ef;
  --seafoamclear: #ccfafc;
  --sand: #fdf0d5;
  --palm: #2d6a4f;
  --white: #ffffff;
  --light: #f8f9fa;
  --gray-light: #dee2e6;
  --gray: #424344;
  --dark: #1b263b;
  --glass: rgba(255, 255, 255, 0.7);
  --shadow: 0 4px 12px rgba(0,0,0,0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: var(--primary);
    color: var(--white);
    padding: .7rem;
    text-align: center;  
    border-bottom: 15px solid var(--seafoam);
}

header h1{
    font-size: clamp(1.5rem, 5vw, 3rem);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--seafoamclear);
    min-height: 100vh;
}

.container{
    position: relative;
}

.hero img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-bottom: 5px solid var(--palm);
}

.card{
    background-color: var(--glass);
    padding: .9rem;
    margin: 1.5rem auto;
    width: 90%;
    border-radius: 10px;    
    box-shadow: 0 0 10px var(--dark);
    font-size: clamp(.6rem, 3vw, .9rem);
    text-align: center;
    line-height: 1.6;
    backdrop-filter: blur(5px);
    transition: all .3s ease;
}

.card:hover{
    transform: translateY(-3px);
}

.card h2{    
    color: var(--gray);
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 3vw, 1.1rem);
    background-color: var(--accentclear);
    width: calc(100% + 20px);
    margin-left: -20px;
    margin-top: -10px;
    margin-bottom: .5rem;
    padding: .6rem;
    box-shadow: var(--shadow);
    border-radius: 4px;

}

.weather-card h2{
    flex-direction: column;
    justify-content: center;
}

.weather-card h2::after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("images/sun-behind.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.title::before{
      content: "🌴"; 
      margin-left: 10px;
}

.card p{   
    display: flex;
    justify-content: center;
    gap: 10px;
  }

footer{
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    padding: .8rem;
    font-size: clamp(.5rem, 3vw, .8rem);
}

@media (min-width: 768px){

      img{
        max-width: 100%;
    }

    .card{
      width: 250px;
      text-align: left;
      margin: 0;
    }

    .card h2{
      font-size: 1rem;
      justify-content: flex-start;
      margin-left: -20px;
      margin-top: -10px;
      margin-bottom: .5rem;
      padding: .6rem;
      box-shadow: var(--shadow);
      border-radius: 4px;
      background-color: var(--accentclear);
      width: 85%;
      color: var(--gray);
    }

    .weather-card h2{  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }


    .hero img{
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

    .data-card{
        position: absolute;
        top: 40px;
        left: 30px;
        width: 250px;
    }

    .weather-card{
        position: absolute;
        bottom: 40px;
        right: 30px;
        width: 250px;
    }

}