body {
	font-family: "Sansita", sans-serif;
}

header {
	background-color: #01034f;
	padding: 10px;
	color: white;
	margin: 0;
	font-size: 0.7rem;
	
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	
}

main h1 {
	color: #01034f;
	text-align: center;
	font-size: 1.3rem;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open a {
	display: block;
}

.navigation {
	display: none;
	list-style: none;
	padding: 1rem;

}

.navigation.open {
	display: block;
}

.navigation a {
	display: block;	
	color: white;
	padding: 0.7rem;
	transition: background-color 0.3s ease;
	
}


.navigation a:hover {
	color: #c6e9f4;
}

main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0.8rem;
}

h2 {
	text-align: center;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}

figure {
	margin: 0;
	text-align: center;
}

figure img {
	width: 80%;
	height: 120px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

figcaption {
	margin-top: 0.5rem;
	color: #01034f;
}

footer {
    background-color: #01034f;
    text-align: center;
    padding: 0.5rem;
	color: white;
	

}

footer p {
	color: white;
    margin: 0;
	font-size: 0.7rem
}

@media (min-width: 640px) {

	header {
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		font-size: 0.5rem
	}

	.top {
		display: flex;
		align-items: center;
		font-size: 0.6rem
	}

	nav {
		margin-left: auto;
		font-size: 1rem
	}

	.navigation {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		padding: 0;
		margin: 0;
		
	}

	#menu {
		display: none;
	}


}