body {
    display: grid;
    height: 100vh;
    grid-template:
        auto   /* header */
        auto   /* nav */
        1fr    /* main + aside */
        auto   /* footer */
        / 1fr;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

header {
  background: rgb(155, 218, 222);
  padding: 1rem;
  font-size: 12px;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd6d6;
	align-items: center;
    padding: 1rem;
	margin: 0;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	font-weight: 700;
	display: block;
	color: #ed3a3a;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}


.navigation a:hover {
	text-decoration: underline;
	text-decoration-color: #ed3a3a;
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
}

main {
  background: coral;
}

.right-sidebar {
  background: yellow;
  padding: 1rem;
}

footer {
    background: rgb(150, 237, 153); 
    text-align: center;
    padding: 2rem;
   
}